workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_PIPELINE_SOURCE == "push"
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH

.build-base:
  image:
    name: registry.ulbricht.casa/docker-images/android-native-app:latest
    pull_policy: always
  before_script:
    - chmod +x ./gradlew
    - mkdir -p /opt/secure
    - curl --silent "https://gitlab.com/gitlab-org/incubation-engineering/mobile-devops/download-secure-files/-/raw/main/installer" | bash
  cache:
    key: $CI_PROJECT_NAME
    paths:
      - .gradle
  tags:
    - runner-amd64

.deploy-base:
  extends:
    - .build-base
  script:
    - bundle update
    - bundle exec fastlane android ${TRACK}

stages:
  - lint
  - build
  - deploy-android
  - deploy-wear

build-debug-app:
  stage: build
  extends:
    - .build-base
  script:
    - ./gradlew -Pci --console=plain bundleDebug -PbuildDir=build

build-release-app:
  stage: build
  extends:
    - .build-base
  script:
    - ./gradlew -Pci --console=plain bundle -PbuildDir=build
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      when: never

deploy-android-app:
  extends:
    - .deploy-base
  variables:
    TRACK: android
  stage: deploy-android
  rules:
    - if: $CI_COMMIT_TAG

deploy-wear-app:
  extends:
    - .deploy-base
  variables:
    TRACK: wear
  stage: deploy-wear
  dependencies:
    - deploy-android-app
  rules:
    - if: $CI_COMMIT_TAG