<lint-module
    format="1"
    dir="/home/imanuel/Projects/jewels-app/app"
    name=":app"
    type="APP"
    maven="Jewels:app:"
    agpVersion="8.2.0"
    buildFolder="lint"
    bootClassPath="/home/imanuel/Android/Sdk/platforms/android-34/android.jar:/home/imanuel/Android/Sdk/build-tools/34.0.0/core-lambda-stubs.jar"
    javaSourceLevel="1.8"
    compileTarget="android-34"
    neverShrinking="true">
  <lintOptions
      abortOnError="true"
      absolutePaths="true"
      checkReleaseBuilds="true"
      explainIssues="true"/>
  <variant name="debug"/>
</lint-module>
